.deps/
.libs
*.lo
*.la
*.o

Makefile
Makefile.in
configure
config.h
config.h.in
stamp-h1
config.status
config.sub
config.guess
config.log
aclocal.m4
m4/
autom4te.cache/
ChangeLog
install-sh
depcomp
compile
missing
libtool
ltmain.sh
